/* .App {
  /* text-align: center; */
/* background-color: #61dafb;  
  color: rgb(41, 127, 202);
} */

.App-nav {
  background-color: #347b98 !important;
  /* color: rgb(25, 43, 58); */

  color: aliceblue;
}

body {
  /* background-color: #a7630a !important; */
  color: #000000 !important;
  /* background: -webkit-linear-gradient(
    to right,
    #0d47cf,
    #73c8a9
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #bae5e5,
    #d6a1db
  );  */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-color {
  color: #347b98;
}

.mouse-hover:hover {
  background-color: #347b98 !important;
  color: aliceblue;
  /* font-size: 20px; */
}

.box {
  box-shadow: 0px 0px 5px 2px rgba(102, 102, 206, 0.904);
  border-radius: 0px;
  border-width: 1px;
  background-color: aliceblue;
}

.button {
  /* font-size: 25px !important;
  font-weight: 700; */
  /* width: 250px; */
  padding: 5px 20px;
  outline: none !important;
  border: none !important;
  border-radius: 40px;
  /* box-shadow: 0px 0px 2px 1px rgba(248, 248, 248, 0.904); */
  display: inline-block;
  margin: 10px;
}
.button:hover {
  background-color: #1e1e1e;
  color: white;
}
